<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Just a test to show the users exercises</h1>
    
    <ul>
            
        <% exercises.forEach((exercise)=>{ %>
            <li> <%=exercise.day%>  <a href="/delete-exercise/<%=exercise._id%>"> delete </a> | <a href="/edit-exercise/<%=exercise._id%>"> edit </a> </li>
            <li>Muscle Group: <%=exercise.muscleGroup%>  </li>
            <li>Specific Muscle: <%=exercise.muscle%> </li>
            <li>Exercise Name: <%=exercise.name%> </li>
            <li>Weight: <%=exercise.weight%> </li>
            <li>Sets: <%=exercise.sets%> </li>
            <li>Reps: <%=exercise.reps%> </li>
            
        <% }) %>

    </ul>
</body>
</html>