<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Just a test to show the users exercises</h1>
    <ul>
        
        <% exercises.forEach((exercise)=>{ %>
            <li> <%=exercise.day%> </li>
            <li>Muscle Group: <%=exercise.muscleGroup%> </li>
            <li>Specific Muscle: <%=exercise.muscle%> </li>
            <li>Exercise Name: <%=exercise.name%> </li>
            <li>Weight: <%=exercise.weight%> </li>
            <li>Sets: <%=exercise.sets%> </li>
            <li>Reps: <%=exercise.reps%> </li>
            <p>User Info: <%=exercise.user.local.firstName%> <%=exercise.user.local.lastName%></p>
        <% }) %>

    </ul>
</body>
</html>